{% extends "base.html" %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container">
        <div class="navbar-brand">
            <h1>
                <b>RL Dashboard</b>
            </h1>
        </div>
        {% if current_user.is_authenticated %}
            <button 
                class="navbar-toggler" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" 
                aria-expanded="false" 
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div 
                class="collapse navbar-collapse" 
                id="navbarSupportedContent"
            >
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('homepage.index')}}">
                            <h5><b>Homepage</b></h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('experience.index')}}">
                            <h5><b>Experience</b></h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('projects.index')}}">
                            <h5><b>Projects</b></h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('users.logout')}}">
                            <h5><b>Logout</b></h5>
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
</nav>


<div class="container">
    <div class="row mb-3">
        <div class="col">
            <h2>
                {% if title %}
                    {{title}}
                {% else %}
                    No Title :/
                {% endif %}
                
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <!-- FLASHED MESSAGES -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            <!-- START OVERRIDEABLE CONTENT  -->
            {% block content %}{% endblock %}
            <!-- END OVERRIDEABLE CONTENT    -->
        </div>
    </div>
</div>
{% endblock %}