{% extends "header.html" %}
{% block content %}
    <!-- FORM -->
    <form action="" method="post">
        <!-- CSRF token -->
        {{form.csrf_token}}

        <!-- link name box -->
        <div class="mb-3">
            {{form.link_name.label(class="form-label")}}
            {{form.link_name(class="form-control mb-1")}}

            {% if form.link_name.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.link_name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- link url box -->
        <div class="mb-3">
            {{form.url.label(class="form-label")}}
            {{form.url(class="form-control mb-1")}}

            {% if form.url.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.url.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- submit button -->
        {{ form.submit(class="btn btn-primary") }}

    </form>
{% endblock %}