{% extends "header.html" %}
{% block content %}
    <!-- full name -->
    <div class="card mb-3">
        <h3 class="card-header">Full Name</h3>
        <div class="card-body">
            <h5 class="card-title mb-2">
                {{homepage_details.full_name}}
            </h5>
            <!-- TODO -->
            <a
                href="{{url_for(
                    'common.update_name_like_property',
                    model = 'HomepageDetails',
                    document_creation_datetime = homepage_details.creation_datetime,
                    property_name = 'full_name'
                )}}"
                class="btn btn-primary">
                Edit Full Name
            </a>
        </div>
    </div>

    <!-- email -->
    <div class="card mb-3">
        <h3 class="card-header">Email</h3>
        <div class="card-body">
            <h5 class="card-title mb-2">
                {{homepage_details.email}}
            </h5>
            <!-- TODO -->
            <a
                href="{{url_for('homepage.update_email')}}"
                class="btn btn-primary">
                Edit Email
            </a>
        </div>
    </div>

    <!-- pfp link -->
    <div class="card mb-3">
        <h3 class="card-header">Profile Picture Link</h3>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <img
                    src="{{homepage_details.pfp_link}}"
                    alt="imgur profile picture"
                    class="card-img-top rounded-circle py-3"
                >
            </div>
            <div class="col"></div>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                {{homepage_details.pfp_link}}
            </h5>
            <!-- TODO -->
            <a href="{{url_for('homepage.update_pfp_link')}}" class="btn btn-primary">
                Edit Profile Picture Link
            </a>
        </div>
    </div>

    <!-- Description -->
    <div class="card mb-3">
        <h3 class="card-header">Description</h3>
        <div class="card-body">
            <p class="card-text">{{homepage_details.description}}</p>
            <a href="{{url_for('homepage.update_description')}}" class="btn btn-primary">
                Edit Description
            </a>
        </div>
    </div>

    <!-- Links! -->
    <div class="card mb-3">
        <h3 class = "card-header">Personal Links</h3>
        <div class="card-body">
            <ul class="list-group mb-3">
                {% for link in links %}
                    <li class="list-group-item">
                        <div class="row g-3">
                            <div class = "col">
                                <b>{{link.link_name}} :</b> {{link.url}}
                            </div>
                            <div class = "col">
                                <div class="float-end">
                                    <a
                                        href="{{url_for(
                                            'common.update_link',
                                            parent_document_creation_datetime = link.parent.creation_datetime,
                                            link_creation_datetime = link.creation_datetime
                                        )}}"
                                        class="btn btn-primary mr-3"
                                    >
                                        Edit
                                    </a>

                                    <!-- TODO -->
                                    <a
                                        href="{{url_for(
                                            'common.delete_link',
                                            parent_document_creation_datetime = link.parent.creation_datetime,
                                            link_creation_datetime = link.creation_datetime
                                        )}}"
                                        class="btn btn-danger"
                                    >
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <!-- TODO -->
            <a
                href="{{url_for(
                    'common.create_link',
                    parent_model = 'HomepageDetails',
                    parent_document_creation_datetime = homepage_details.creation_datetime
                )}}"
                class="btn btn-primary"
            >
                Add Link
            </a>
        </div>
    </div>

    <!-- about_me -->
    <div class="card mb-3">
        <h3 class="card-header">About Me</h3>
        <div class="card-body">
            {% for para in homepage_details.parse_about_me() %}
                <p class="card-text">
                    {{para}}
                </p>
            {% endfor %}
            <!-- TODO -->
            <a href="{{url_for('homepage.update_about_me')}}" class="btn btn-primary">
                Edit About Me
            </a>
        </div>
    </div>
{% endblock %}
