{% extends "header.html" %}
{% block content %}
    <!-- FORM -->
    <form action="" method="post">
        <!-- CSRF token -->
        {{form.csrf_token}}

        <!-- PFP about_me update box -->
        <div class="mb-3">
            {{form.about_me.label(class="form-label")}}
            {{form.about_me(class="form-control mb-1", id="textbox")}}

            {% if form.about_me.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.about_me.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- submit button -->
        {{ form.update(class="btn btn-primary") }}

    </form>
{% endblock %}