{% extends "header.html" %}
{% block content %}
    <!-- LOGIN FORM -->
    <form action="" method="post">
        <!-- CSRF token -->
        {{form.csrf_token}}
        <!-- USERNAME -->
        <div class="mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control mb-1") }}

            {% if form.username.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <!-- PASSWORD -->
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control mb-1") }}

            {% if form.password.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        {{ form.submit(class="btn btn-primary") }}
    </form>

    {% if title=="login" %}
        <div class="mt-4">
          If you're new, register <a href="{{ url_for('users.register') }}">here</a>
        </div>
    {% else %}
        <div class="mt-4">
          If you already have an account, login <a href="{{ url_for('users.login') }}">here</a>
        </div>
    {% endif %}
{% endblock %}
