{% extends "header.html" %}
{% block content %}
    <div class="mb-3">
        <b>Note: </b> You will be able to add your tech stack, links, and bullets
        by editing this experience after creating it.
    </div>
    <form action="" method="post">
        <!-- CSRF token -->
        {{form.csrf_token}}

        <!-- position name -->
        <div class="mb-3">
            {{form.project_name.label(class="form-label")}}
            {{form.project_name(class="form-control mb-1")}}

            {% if form.project_name.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.project_name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- start date -->
        <div class="mb-3">
            {{form.start_date.label(class="form-label")}}
            {{form.start_date(class="form-control mb-1")}}

            {% if form.start_date.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.start_date.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- end date -->
        <div class="mb-3">
            {{form.end_date.label(class="form-label")}}
            {{form.end_date(class="form-control mb-1")}}

            {% if form.end_date.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.end_date.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- about -->
        <div class="mb-3">
            {{form.long_description.label(class="form-label")}}
            {{form.long_description(class="form-control mb-1", id="rl-dashboard-textbox")}}

            {% if form.long_description.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.long_description.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- submit button -->
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}
