{% extends "header.html" %}
{% block content %}
    {% for project in projects %}
        <div class="card mb-3">
            <h3 class="card-header">{{project.project_name}}</h3>
            <div class="card-body">
                <b>start date:</b>
                {{project.start_date}}
                <br>
                <b>end date:</b>
                {{project.end_date}}
                <br>
                <!-- todo -->
                <a
                    href=""
                    class="btn btn-primary d-inline"
                >
                    View project
                </a>
                <!-- todo -->
                <a
                    href=""
                    class="btn btn-danger mx-3 d-inline"
                >
                    Delete project
                </a>
            </div>
        </div>
    {% endfor %}
    <a
        href="{{url_for(
            'projects.create_project'
        )}}"
        class="btn btn-primary mr-3"
    >
        Add project
    </a>
{% endblock %}


